body {
    background-color: #D3D3D3;
    font-family: 'Source Code Pro', monospace;

}
p{
    font-size: 20px;
}

a{
    color: #B8860B;
    font-size: 17px;
}

h1 h2 h3{
    text-transform: uppercase;
}
.box{
    float: left;
}

.left-bar{
    width: 200px;
}

.content{
  width: 800px;
  margin-left: 250px;
}

.container{
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 5%;
}
.fs-40{
    font-size: 25px;
}
.left-bar2{
    float: left ;
    padding-bottom: 5%;
}

.gorsel{
    margin-right: 30%;
    margin-left: 35%;
    }

.button{
        margin-left: 25%;
        margin-right: 25%;
        background-color: #D3D3D3;
         
    }
    .button2{
        background-color: white;
    }
.pic {
    margin-bottom: 5%;
}

.index{
    margin-left: 20%;
    margin-right: 20%;
}
.homepage{
    margin-top: 150px;
}
.anasayfa{
 margin: 0PX;
 
}

.deneme{
    margin-left: 45%;
}
.icon{
    -webkit-text-size-adjust: 100%;
    border-style: none;
    
}
